<form method="post">
  {{ csrfInput({ async: true }) }}
  {{ actionInput('entries/save-entry') }}
  {{ successMessageInput('Update posted') }}
  {{ failMessageInput('Something went wrong.') }}
  {{ redirectInput('/updates') }}
  {{ hiddenInput('sectionId', id) }}
  
  <div class="mb-6">
    <label for="post">Post a message</label>
    <textarea name="fields[textBlock]" class="w-full px-6 py-4" id="message"></textarea>
  </div>
  <input type="submit" class="rounded bg-red-500 px-6 py-4" value="Post {{ now()|date }}" />
</form>