{% import '_utilities/field' as field %}

{% extends "pages/default" %}

{% block landing %}
  <section class="container mx-auto bg-slate-200 p-6 mb-9 rounded">
    <h2 class="font-bold text-3xl mb-4">Send a message</h2>
    <form method="post">
      {{ csrfInput() }}
      {{ actionInput('users/send-password-reset-email') }}
      {{ field.data({
        label: "Name",
        name: "name",
        type: "text"
      }) }}
      {{ field.data({
        label: "Email",
        name: "email",
        type: "email"
      }) }}
      {{ field.data({
        label: "Message",
        name: "message",
        type: "textarea"
      }) }}
      <input type="submit" class="rounded bg-red-500 px-6 py-4" value="Send message" />
    </form>
  </section>
{% endblock %}