{% extends "_layouts/default" %}
{% set heading = entry.pageHeading ?? entry.title %}

{% block content %}
  <header class="container mx-auto py-6 px-1 text-2xl">
    
    <h1 class="font-bold text-6xl lg:text-9xl">{{ heading }}</h1>
    {{ entry.pageSubheading|md }}
    {% if entry.section.handle == 'article' %}
      <p><time class="text-xs" datetime="{{ entry.postDate|atom }}">{{ entry.postDate|date }}</time></p>
      <p class="text-xs">By {{ entry.author }}</p>
    {% endif %}
  </header>
  <section class="page__content">
    {{ entry.pageContent.eagerly().render() }}
    {% block landing %}{% endblock %}
  </section>
{% endblock %}
