{% macro data(data) %}
{% set name = data.name ?? "" %}
{% set type = data.type ?? "text" %}
{% set label = data.label ?? "" %}
{% set value = data.value ?? "" %}
{% set id = data.id ?? "" %}

<div class="field mb-4">
  <label class="block" for="{{ name }}">{{ label }}</label>
  {% if type == "textarea" %}
    <textarea name={{ name }} class="form-input px-4 py-3 rounded" id="{{ id }}">{{ value }}</textarea>
  {% else %}
    <input type="{{ type }}" name={{ name }} value="{{ value }}" class="form-input px-4 py-3 rounded" id="{{ id }}" />
  {% endif %}
</div>
{% endmacro %}